
body{
    background-color: rgb(248, 250, 245);
    margin: 50px;
}
ul{
    background-color: rgb(243, 242, 242);
    padding-left: 0px;
    border-radius: 8px;
    border: solid 1px orangered;
    width: 100%;

}

#aceptar{
    background-color: blue;
    color: white;
    border-radius: 4px;
}
#cancelar{
    background-color: gray;
    color: white;
    border-radius: 4px;
}
.l{
    list-style-type: none  ;
    border-bottom: 1px greenyellow solid  ;
    padding: 16px;
    color: rgb(28, 54, 1);

}
#ll{
    padding: 16px;
    list-style-type: none;


}